@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
* {
  margin:0;
  padding:0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
#container {
  margin:0 auto;  /* 화면 중앙에 배치 */
  width:1600px;    /* 너비 */
  background-color: rgb(255, 233, 233);
}
/*********************************************/
#header {
  height: 150px;
  background-color: rgba(70, 216, 216, 0.685);
}
#logo{ 
  float:left;   /* 왼쪽으로 플로팅 */ 
  width:auto;   /*  너비 */
  height:50px;   /* 높이 */
  margin: 50px;
  background-color: rgb(245, 13, 13);
}

#logo h1 {
  font-family: 'Pacifico', cursive;   /*외부 폰트*/
  font-weight: 700;   /*글자 굵기*/
  font-size: 40px;   /*글자 크기*/
  color: rgb(0, 0, 0);   /*글자색*/
  text-shadow: 0 -1px 0 #222; /*그림자 스타일*/
}

input::-ms-input-placeholder {color:#a8a8a8; }
input::-webkit-input-placeholder {color:#a8a8a8; }
input::-moz-input-placeholder {color:#a8a8a8; }

.mid {
  justify-content: center; 
}
#searchbox {
  padding:5px 45px;
  margin: 60px;   
  background-color:rgba(255, 255, 255, 0);   
}
#search {
  display:flex;  /* 플렉스 컨테이너 지정 */
  background-color:rgba(0, 0, 0, 0);
  margin-bottom:30px;
}

/**************************************************************/

#info {
  display: flex;
  height: 400px;
  background-color: rgba(117, 149, 236, 0);
  
}
#infobox {
  width: 1300px;
  height: 400px;
  overflow: hidden;
  background-color: rgba(151, 60, 60, 0.849);
}
#infobox > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
/**************************************************************/
ul {
  list-style: none;
}
.leftset {
  justify-content: flex-start;
}

#sidebar {
  display: flex;
  height: 800px;
  float: left;
}
#SideMenu {
  width: 150px;
  height: 500px;

}

#SideMenu > ul > li > a {
  display: block;
  color: rgb(0, 0, 0);
  font-weight: 1000;
  font-size: 20px;
}
input[id*="main"] {
  display: none;
}

input[id*="main"] + label {
  display: block;
  padding: 20px;
  color: #fff;
  font-size: 20px;
  font-weight: 700;
  background: #104a7a;
  cursor: pointer;
  position: relative;
}



input[id*="main"] + label + ul {
  max-height: 0;
  transition: all .355;
  overflow: hidden;
  background: #ebf8ff;
}
input[id*="main"] + label + ul li {
  display: block;
  padding: 15px;
}

input[id*="main"]:checked + label + ul {
  max-height: 300px;
}

/********************************************************/
#post {
  display: flex;
  height: 500px;
  background-color: #c0d8eee0;
  margin-right: 150px;

}
#postbox {
  width: 800px;
  height: auto;
  background-color: rgba(18, 131, 106, 0);
  margin-left: 10px;
}
/**********************************/
li{
  list-style: none;
}
.sideset {
  justify-content: space-around;
}
.gallery{
  background-color: rgba(228, 55, 55, 0);
  position: relative;
  width: 1000px;
  height: 300px;
  margin-top: 20px;
  overflow: hidden;
  margin-left: 300px;
}
.gallerybox{
  position: absolute;
  left: 0;
  top: 0;
  transition: left 0.5s ease-out;
}
.gallerybox li:not(:last-child) {
  float: left;
  margin-right: 50px;
}
.controls {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
}
.controls span{
  background-color: #333;
  color: #fff;
  padding: 10px 20px;
  margin: 0 10px;
}

/********************************/
#footer {
  display: flex;
  height: 50px;
  background-color: #000000;
  clear: left;
}
/************/
