@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jua&display=swap');
* {
  margin:0;
  padding:0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
#container {
  margin:0 auto;  /* 화면 중앙에 배치 */
  width:1900px;    /* 너비 */
}
.mid {
  justify-content: center;
}
/*********************************************/
#header {
  height: 150px;
  background-color: #1A1A40;
}
#logo{ 
  float:left;   /* 왼쪽으로 플로팅 */ 
  width:auto;   /*  너비 */
  height:50px;   /* 높이 */
  margin: 50px;
  background-color: rgba(245, 13, 13, 0);
}

#logo h1 {
  font-family: 'Pacifico', cursive;   /*외부 폰트*/
  font-weight: 700;   /*글자 굵기*/
  font-size: 40px;   /*글자 크기*/
  color: rgb(255, 255, 255);   /*글자색*/
  text-shadow: 0 -1px 0 #222; /*그림자 스타일*/
}

form.searchbox {
  width: 500px;
  position: absolute;
  top: 8%;
  margin-left: 705px;
  text-align: center;
}

form.searchbox input[type=text] {
  background-color: #fff;
  width: 360px;
  padding: 10px;
  border-radius: 30px 0 0 30px;
  border: none;
}
form.searchbox input[type=submit] {
  background-color: orange;
  border-radius: 0 25px 25px 0;
  padding: 10px;
  border: none;
  color: rgb(0, 0, 0);
  font-weight: 600;
  margin-left: -6px;
} 

/**************************************************************/

#info {
  display: flex;
  height: 400px;
  background-color: #1A1A40;
  
}
#infobox {
  width: 1300px;
  height: 400px;
  overflow: hidden;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  background-color: rgba(151, 60, 60, 0);
}
#infobox > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
/**************************************************************/
nav{  
  background-color: rgba(0, 119, 204, 0);
  width: 300px;;   /*   너비 */  
  height: 100px;   /* 메뉴 영역 높이 */  
  float: left;
}

#topMenu > li {
  position: relative;  /* 서브 메뉴를 absolute로 하기 위해, 이 부분을 relative로 */  
}
#topMenu > li > a{
  display:block;  /* 링크 텍스트는 블록으로 */ 
  text-align: center;
  color:rgb(255, 255, 255);  /* 내비게이션 대표 카테고리 글자색 */
  font-weight:1000;  /* 글자 굵기 */
  text-shadow:0 1px rgb(0, 2, 3);  /* 그림자 추가 */
  padding: 25px  20px;  /* 패딩 */ 
  background-color: #1A1A40;
}

#topMenu > li > a:hover {
  color:orange;  /* 마우스 오버하면 색상 바뀜 */ 
    /* 글자가 너무 굵어지지 않도록 */
}

#topMenu > li > ul { /* 서브 메뉴 스타일 */
  display: none;  /* 서브 메뉴 처음에는 화면에 안 보이게 */ 
  position:absolute;  /* 서브 메뉴 포지셔닝 */ 
  width:300px;
  background:orange; 
  border-radius: 0 0 10px 10px;
}
#topMenu > li > ul > li {    
    padding: 20px 0;
   text-align: center;
}
#topMenu > li > ul > li > a { 
  font-size:18px;
  padding:10px;
  color:#270082;  
  font-weight: 1000;
}
#topMenu > li:hover > ul {
  display: block;  /* 메인 메뉴 항목 위로 오버하면 서브 메뉴 표시 */
  z-index: 10;  /* 슬라이드 쇼에 가리지 않게 조절 */ 
}
#first:hover {
  margin-bottom: 180px;
}
#second:hover {
  margin-bottom: 120px;
}
#topMenu > li > ul > li:hover {
  background-color: #1a1a4031;
  border-radius: 0 0 10px 10px;
} 

/********************************************************/
#post {
  display: flex;
  height: 500px;
  background-color: #c0d8eee0;
  width: 1300px;
}
#postbox {
  width: 1000px;
  height:400px ;
  background-color: rgba(18, 131, 107, 0.671);
  margin-top: 50px;
  padding-top: 65px;
  padding-left: 30px;
  border-radius: 30px;
  float: right;
}
#textbox {
  background-color: rgba(5, 4, 4, 0);
  width: 600px;
  float: right;
  padding-right: 120px;
  margin-right: 50px;
}

/**********************************/
li{
  list-style: none;
}
.sideset {
  justify-content: space-around;
}
#layout {
  width: 1300px;
  height: 350px;
  margin-left: 300px;
  padding-top: 25px;
  background-color: #EEEEEE;
  border-radius: 0 0 30px 30px;

}
.gallery{
  background-color: rgba(226, 8, 8, 0);
  position: relative;
  width: 1000px;
  height: 300px;
  overflow: hidden;
  margin-left: 150px;
  border-radius: 30px 0 30px 0;
}
.gallerybox{
  position: absolute;
  left: 0;
  top: 0;
  transition: left 0.5s ease-out;
}
.gallerybox li:not(:last-child) {
  float: left;
  margin-right: 50px;
}
.controls  {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
}
.prev {
  border-radius: 30px 0 0 30px;
  background-color: #398AB9;
  color: rgb(255, 255, 255);
  padding: 10px 20px;
  margin: 0 10px;
  font-weight: 1000;
}
.next {
  border-radius: 0 30px 30px 0;
  background-color: #1C658C;
  color: rgb(255, 255, 255);
  padding: 10px 20px;
  margin: 0 10px;  
  font-weight: 1000;

}

/********************************/
footer{   
  background-color: #1A1A40;
  width:100%;   /* 너비 */
  height:50px;  /* 높이 */
}
#bottomMenu{
  width:1000px;
  height: 20px;
  position: relative;
}
#bottomMenu ul li{
  float:left;  /* 가로로 배치 */ 
  padding: 10px 40px;
}
#bottomMenu ul li:last-child{
  border:none;  /* 마지막 항목에는 오른쪽 테두리 없음 */  
}
#bottomMenu ul li a, #bottomMenu ul li a:visited {  
  font-size:15px;  /* 글자 크기 */ 
  color:rgb(255, 255, 255);   /* 글자 색 */ 
}
#sns {
  background-color: rgb(35, 76, 190); 
  right:0;  /* 오른쪽 끝에 배치 */ 
}
#sns ul li{
  border:none;  /* 테두리 없이 */ 
  padding: 10px;
} 
/************/
