@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
* {
  margin:0;
  padding:0;
  box-sizing: border-box;
}
a {
  text-decoration:none;  /* 텍스트 링크 밑줄 없애기 */ 
}
ul {
  list-style: none;
}
#container {
  margin:0 auto;  /* 화면 중앙에 배치 */
  background-color: #1a1a4000;
}
.mid {
  justify-content: center;
}
/*******************************/
#header {
  display: flex;
  background-color: #1A1A40;
}
#logo{ 
  float:left;  
  width:auto;   /*  너비 */
  height:40px;   /* 높이 */
  background-color: #82000000;
  margin: 30px 50px;
}

#logo h1 {
  font-family: 'Pacifico', cursive;   /*외부 폰트*/
  font-weight: 700;   /*글자 굵기*/
  font-size: 35px;   /*글자 크기*/
  color: #ffffff;   /*글자색*/
  text-shadow: 0 -1px 0 #222; /*그림자 스타일*/
}
/**********************************************/
#search_section {
  margin: 0 auto;
  background-color:#a4a4ec00;
  padding-right: 150px;
  padding-bottom: 20px;
}
form.searchbox {
  padding: 10px 40px;
  background-color: #0e0b0b00;
  margin-top: 40px;
}

form.searchbox input[type=text] {
  background-color: rgb(228, 226, 226);
  width: 360px;
  padding: 10px;
  border-radius: 30px 0 0 30px;
  border: solid 1px;
  border: none;
}
form.searchbox input[type=submit] {
  background-color: #FA58B6;
  border-radius: 0 25px 25px 0;
  padding: 10px;
  border: none;
  color: rgb(255, 255, 255);
  font-weight: 400;
  margin-left: -6px;
} 

input[id="menuicon"] {display: none; height: 500px;}
input[id="menuicon"] + label{display: block; margin: 30px; width: 40px; height: 30px; position: fixed;  cursor: pointer;}
input[id="menuicon"] + label span {display: block; position: absolute; width: 100%; height: 5px; border-radius: 30px; background: #000; transition: all .35s;}
input[id="menuicon"] + label span:nth-child(1) {top:0;}
input[id="menuicon"] + label span:nth-child(2) {top: 50%; transform: translateY(-50%);}
input[id="menuicon"] + label span:nth-child(3) {bottom:0;}
input[id="menuicon"]:checked + label {z-index: 2;}
input[id="menuicon"]:checked + label span {background: rgb(0, 0, 0);}
input[id="menuicon"]:checked + label span:nth-child(1) {top: 50%; transform: translateY(-50%) rotate(45deg);}
input[id="menuicon"]:checked + label span:nth-child(2) {opacity: 0;}
input[id="menuicon"]:checked + label span:nth-child(3) {bottom: 50%; transform: translateY(50%) rotate(-45deg);}

.sidebar {width: 250px; height: 90%; background: #1a1a4065; position: fixed; left: -300px; z-index: 1; transition: all .35s;}
input[id="menuicon"]:checked + label + div {left: 0;}

#menu {
  margin-top: 70px;
}
#menu > li {
  margin-top: 20px;
  padding-top: 25px;
  text-align: center;
  height: 70px;
}
#menu > li > a {
  background-color: rgba(255, 255, 255, 0);
  font-size: large;
  font-weight: 600;
}
#menu > li:hover {
  background-color: #1A1A40;
}

#menu > li:hover > a {
  color: white;
}
/************************************************/
#post {
  background-color: #df901000;
  display: flex;
  text-align: center;

}
.textbox {
  width: 800px;
  text-align: center;
  background-color: #a0538000;
  margin: 0 auto;
}
.textbox > h1 {
  font-size: xxx-large;
}
/*******************************************/
footer{   
  background-color: #1a1a40;
  width:100%;   /* 너비 */
  height:80px;  /* 높이 */
}
#bottomMenu{
  padding-top: 20px;
  width:1000px;
  height: 15px;
  position: relative;
}
#bottomMenu ul li{
  float:left;  /* 가로로 배치 */ 
  padding: 10px 40px;
}
#bottomMenu ul li:last-child{
  border:none;  /* 마지막 항목에는 오른쪽 테두리 없음 */  
}
#bottomMenu ul li a, #bottomMenu ul li a:visited {  
  font-size:15px;  /* 글자 크기 */ 
  color:rgb(255, 255, 255);   /* 글자 색 */ 
}
#sns {
  background-color: #1a1a40; 
  right:0;  /* 오른쪽 끝에 배치 */ 
}
#sns ul li{
  border:none;  /* 테두리 없이 */ 
  padding: 10px;
} 