ul {
  list-style: none;
}

input[id*="main"] {
  display: none;
}

input[id*="main"] + label {
  display: block;
  padding: 20px;
  color: #fff;
  font-weight: 900;
  background: #104a7a;
  cursor: pointer;
  position: relative;
}

input[id*="main"] + label em {
  position: absolute;
  top: 50%;
  right: 10px;
  width: 30px;
  height: 30px;
  margin-top: 15px;
  display: inline-block;
  background: url('img/arrow.png') 0 0 no-repeat;
}

input[id*="main"] + label + ul {
  max-height: 0;
  transition: all .355;
  overflow: hidden;
  background: #ebf8ff;
  font-size: 11px;
}
input[id*="main"] + label + ul li {
  display: inline-block;
  padding: 20px;
}

input[id*="main"]:checked + label + ul {
  max-height: 100px;
}
